<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new User</title>
</head>
<body>
<h2>Add new User</h2>
<br>

<form th:method="POST" th:action="@{/admin/add}" th:object="${user}">

    <label for="firstName">Enter FirstName: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <label for="lastName">Enter LastName: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="age">Enter Age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/><br/><br/>

    <label for="login">Enter Login: </label>
    <input type="text" th:field="*{login}" id="login"/>
    <br/>
    <label for="password">Enter Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>

    <label for="allRoles">Roles (multiple select):</label>
    <br/>
    <select id="allRoles" name="allRoles" size="2" multiple="multiple">
        <option th:each="role : ${allRoles}"
                th:value="${role.role}"
                th:text="${role.role}">Role name</option>
    </select>

<!--    <label>Roles:</label>-->
<!--    <input type="checkbox" name="allRoles"-->
<!--           th:each="role : ${allRoles}"-->
<!--           th:text="${role.role}"-->
<!--           th:value="${role.role}"-->
<!--    />-->

    <input type="submit" value="Save new User"/>
</form>
<br><br><br>

<form th:action="@{/logout}" method="post">
    <button type="submit">Sign Out</button>
</form>


</body>
</html>