<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    html, body {
        height: 100%;
    }
    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="text-light" th:text="${userAuth.login} + ' with roles ' + ${userAuth.roles}" />
    <a class="btn btn-outline-secondary my-2 my-sm-0" href="/logout">Sign out</a>
</nav>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-2" style="background-color: #ffffff">

            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
            </ul>
        </div>



        <div class="col-md-10" style="background-color: #fffbfb">
            <br>
        <h1>Admin panel</h1>
        <div class="tabbable" id="tabs-914098">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active show" href="#tab1" data-toggle="tab">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab2" data-toggle="tab">New user</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <div class="card">
                        <div class="card-body" style="background-color: #efefef">
                            <h3>All users</h3>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>FirstName</th>
                                    <th>LastName</th>
                                    <th>Age</th>
                                    <th>Login</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}" >
                                    <td th:utext="${user.id}"></td>
                                    <td scope="row" th:utext="${user.firstName}"></td>
                                    <td th:utext="${user.lastName}"></td>
                                    <td th:utext="${user.age}"></td>
                                    <td th:utext="${user.login}"></td>
                                    <td>
                                        <ul th:each="role : ${user.roles}">
                                            <li th:text="${role.role}">Role</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <button class="btn btn-info" type="button" data-toggle="modal" th:attr="data-target='#userEditID-' + ${user.id}">
                                        Edit
                                    </button>
                                    </td>
                                    <td><button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#userDelete-' + ${user.id}">
                                        Delete
                                    </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="card">
                        <div class="card-body"  style="background-color: #efefef">
                            <h3>Add new user</h3>
                            <div class="container-fluid">
                                <div class="row">
                                        <form class="mx-auto text-center"  style="width: 380px" method="POST" action="/admin/add">
                                            <div class="form-group">
                                                <label class="font-weight-bold m-0" for="firstName">First name</label>
                                                <input type="text" class="form-control" name="firstName" id="firstName" />
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold m-0" for="lastName">Last name</label>
                                                <input type="text" class="form-control" name="lastName" id="lastName" />
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold m-0" for="age">Age</label>
                                                <input type="age" class="form-control" name="age" id="age" th:value="0"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold m-0" for="login">Login</label>
                                                <input type="text" class="form-control bg-warning" name="login" id="login" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold m-0" for="password">Password</label>
                                                <input type="text" class="form-control bg-warning" name="password" id="password" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold m-0" for="allRoles">Role</label>
                                                <select id="allRoles" class="form-control"  name="allRoles"  multiple required size="2">
                                                    <option th:each="role : ${allRoles}"
                                                            th:value="${role.role}"
                                                            th:text="${role.role}">
                                                    </option>
                                                </select>
                                            </div>
                                            <input class="btn btn-success" type="submit" value="Add new user"/>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- Modal Edit-->
<div th:each="user : ${users}" class="modal" th:id="'userEditID-' + ${user.id}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:id="'userFormEdit-'+${user.id}" class="mx-auto text-center" style="width: 380px" method="POST"
                      th:action="@{/admin/edit?id={id}(id=${user.id})}" name="id" th:value="${user.id}">
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userIdEdit">Id</label>
                        <input type="text" class="form-control" th:value="*{user.id}" id="userIdEdit" name="id" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userNameEdit">First name</label>
                        <input type="text" class="form-control" th:value="*{user.firstName}" id="userNameEdit" name="firstName"/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userLastnameEdit">Last name</label>
                        <input type="text" class="form-control" th:value="${user.lastName}" id="userLastnameEdit" name="lastName"/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userAgeEdit">Age</label>
                        <input type="text" class="form-control" th:value="${user.age}" id="userAgeEdit" name="age"/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userLoginEdit">Login</label>
                        <input type="text" class="form-control" th:value="${user.login}" id="userLoginEdit" name="login" required/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userPasswordEdit">Password</label>
                        <input type="text" class="form-control" th:value="${user.password}" id="userPasswordEdit" name="password" required/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="editUserRole">Role</label>
                        <select id="editUserRole" class="form-control"  name="allRoles"  multiple required>
                            <option th:each="role : ${allRoles}"
                                    th:value="${role.role}"
                                    th:text="${role.role}"
                                    th:selected="${#lists.contains(user.roles, role)}">
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-info" th:form="'userFormEdit-' + ${user.id}" name="id" th:value="${user.id}">Edit user</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete-->
<div th:each="user : ${users}" class="modal" th:id="'userDelete-' + ${user.id}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:id="'userFormDelete-'+${user.id}" class="mx-auto text-center" style="width: 380px" method="POST"
                      th:action="@{/admin/delete?id={id}(id=${user.id})}" name="id" th:value="${user.id}">

                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userIdDelete">Id</label>
                        <input type="text" class="form-control" th:value="${user.id}" id="userIdDelete" name="id" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userNameDelete">First name</label>
                        <input type="text" class="form-control" th:value="*{user.firstName}" id="userNameDelete" name="firstName" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userLastnameDelete">Last name</label>
                        <input type="text" class="form-control" th:value="${user.lastName}" id="userLastnameDelete" name="lastName" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userAgeDelete">Age</label>
                        <input type="text" class="form-control" th:value="${user.age}" id="userAgeDelete" name="age" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userLoginDelete">Login</label>
                        <input type="text" class="form-control" th:value="${user.login}" id="userLoginDelete" name="login" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="deleteUserRole">Role</label>
                        <select id="deleteUserRole" class="form-control"  name="allRoles"  multiple readonly>
                            <option th:each="role : ${allRoles}"
                                    th:text="${role.role}"
                                    th:selected="${#lists.contains(user.roles, role)}">
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-info" th:form="'userFormDelete-' + ${user.id}" name="id" th:value="${user.id}">Delete user</button>
            </div>
        </div>
    </div>
</div>




</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>