<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    html, body {
        height: 100%;
    }
    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="col-md-6 text-left px-3 py-2" style="color: beige">
        <span id="loginInfo" class="font-weight-bold m-0 p-0"></span> with roles: <span id="rolesInfo" class="text-uppercase m-0 p-0"></span>
    </div>
    <a class="btn btn-outline-secondary my-2 my-sm-0" href="/logout">Sign out</a>
</nav>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-2" style="background-color: #ffffff">

            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
            </ul>
        </div>



        <div class="col-md-10" style="background-color: #fffbfb">
            <br>
        <h1>Admin panel</h1>
        <div class="tabbable" id="tabs-914098">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active show" href="#tab1" data-toggle="tab">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab2" data-toggle="tab">New user</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <div class="card">
                        <div class="card-body" style="background-color: #efefef">
                            <h3>All users</h3>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>FirstName</th>
                                    <th>LastName</th>
                                    <th>Age</th>
                                    <th>Login</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="tableUsers"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="card">
                        <div class="card-body"  style="background-color: #efefef">
                            <h3>Add new user</h3>
                            <div class="container-fluid">
                                <div class="row">
                                    <form class="mx-auto text-center" style="width: 380px" name="id">
                                        <div class="form-group">
                                            <label class="font-weight-bold m-0" for="userFirstNameNew">First name</label>
                                            <input type="text" class="form-control" id="userFirstNameNew" name="firstName"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold m-0" for="userLastNameNew">Last name</label>
                                            <input type="text" class="form-control" id="userLastNameNew" name="lastName"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold m-0" for="userAgeNew">Age</label>
                                            <input type="text" class="form-control" id="userAgeNew" name="age"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold m-0" for="userLoginNew">Login</label>
                                            <input type="text" class="form-control" id="userLoginNew" name="login"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold m-0" for="userPasswordNew">Password</label>
                                            <input type="text" class="form-control" id="userPasswordNew" name="password"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold m-0" for="userRoleNew">Role</label><br>
                                            <select type="text" class="form-select" multiple id="userRoleNew" size="2"
                                                    name="role" style="width: 100px">
                                                <option value="ROLE_ADMIN">ADMIN</option>
                                                <option value="ROLE_USER">USER</option>
                                            </select>
                                        </div>
                                        <input id="btnAddUser" class="btn btn-success" onclick=addNewUser() type="submit" value="Add new user"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- Modal Edit-->
<div class="modal" th:id="userEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="mx-auto text-center" style="width: 380px" name="id">
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userIdEdit">ID</label>
                        <input class="form-control" type="text" id="userIdEdit" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userFirstNameEdit">First name</label>
                        <input type="text" class="form-control" id="userFirstNameEdit" name="firstName"/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userLastNameEdit">Last name</label>
                        <input type="text" class="form-control" id="userLastNameEdit" name="lastName"/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userAgeEdit">Age</label>
                        <input type="text" class="form-control" id="userAgeEdit" name="age"/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userLoginEdit">Login</label>
                        <input type="text" class="form-control" id="userLoginEdit" name="login"/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userPasswordEdit">Password</label>
                        <input type="text" class="form-control" id="userPasswordEdit" name="password"/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="editUserRole">Role</label><br>
                        <select type="text" class="form-select" multiple id="editUserRole" size="2"
                                name="role" style="width: 100px">
                            <option value="ROLE_ADMIN">ADMIN</option>
                            <option value="ROLE_USER">USER</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btnEdit" type="submit" class="btn btn-info" name="id" data-dismiss="modal">Edit</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete-->
<div class="modal" th:id="userDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="mx-auto text-center" style="width: 380px" name="id">
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userIdDelete">ID</label>
                        <input type="text" class="form-control" id="userIdDelete" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userFirstNameDelete">First name</label>
                        <input type="text" class="form-control" id="userFirstNameDelete" name="firstName" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userLastNameDelete">Last name</label>
                        <input type="text" class="form-control" id="userLastNameDelete" name="lastName" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userAgeDelete">Department</label>
                        <input type="text" class="form-control" id="userAgeDelete" name="Age" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userLoginDelete">Login</label>
                        <input type="text" class="form-control" id="userLoginDelete" name="login" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userPasswordDelete">Password</label>
                        <input type="text" class="form-control" id="userPasswordDelete" name="password" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="userRoleDelete">Role</label>
                        <input type="text" class="form-control" id="userRoleDelete" readonly/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btnDelete" type="submit" class="btn btn-danger" data-dismiss="modal" name="id">Delete</button>
            </div>
        </div>
    </div>
</div>
</div>
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="allUsers.js"></script>
<script src="add.js"></script>
<script src="edit.js"></script>
<script src="delete.js"></script>
<script src="user.js"></script>
</body>
</html>