<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="col-md-6 text-left px-3 py-2"  style="color: beige">
        <span id="loginInfo" class="font-weight-bold m-0 p-0"></span> with roles: <span id="rolesInfo" class="text-uppercase m-0 p-0"></span>
    </div>
    <a class="btn btn-outline-secondary my-2 my-sm-0" href="/logout">Sign out</a>
</nav>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-2" style="background-color: #ffffff">
            <ul class="nav flex-column nav-pills">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link active" href="/user">User</a>
            </ul>
        </div>



        <div class="col-md-10" style="background-color: #fffbfb">
            <h2>User Info</h2>
            <div class="card">
                <div class="card-body" style="background-color: #efefef">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Age</th>
                            <th>Login</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody id="userInfo"></tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





</div>
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="user.js"></script>
</body>
</html>