<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="text-light" th:text="${user.login} + ' with roles ' + ${user.roles}" />
    <a class="btn btn-outline-secondary my-2 my-sm-0" href="/logout">Sign out</a>
</nav>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-2" style="background-color: #ffffff">
            <ul class="nav flex-column nav-pills">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link active" href="/user">User</a>
            </ul>
        </div>



        <div class="col-md-10" style="background-color: #fffbfb">
            <h2>All users</h2>
            <div class="card">
                <div class="card-body" style="background-color: #efefef">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Age</th>
                            <th>Login</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td scope="row" th:utext="${user.firstName}"></td>
                            <td th:utext="${user.lastName}"></td>
                            <td th:utext="${user.age}"></td>
                            <td th:utext="${user.login}"></td>
                            <td>
                                <ul th:each="role : ${user.roles}">
                                    <li th:text="${role.role}">Role</li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>